@import compass

$background-image-url: url('/img/background.gif')
$message-font-size:    18px
$message-line-height:  $message-font-size * 2.5
$fontcolor:            #888
$card-width:           640px
$card-height:          360px
$footer-font-size:     12px
$footer-top-margin:    30px

=cardsize
  width: $card-width
  height: $card-height

=fullsize
  width: 100%
  height: 100%

body
  color: $fontcolor
  text-shadow: 0px 0px 1px #ccc
  background-image: $background-image-url

#container
  +cardsize
  +perspective(3000px)
  position: relative
  margin: auto
  margin-top: 50px

#card
  +fullsize
  +transform-style(preserve-3d)
  +transition(transform 1s)
  position: absolute

#card > *
  +fullsize
  +backface-visibility(hidden)
  +box-shadow(0 0 50px #888)
  display: block
  position: absolute

#card .image

#card .message
  +background-image(radial-gradient($card-width/2 $card-height/2, #fff $card-width/3, #eee $card-width))
  +transform(rotateY(180deg))
  font-size: $message-font-size
  line-height: $message-line-height
  text-align: center

#card .message p
  +cardsize
  display: table-cell
  vertical-align: middle

#card.flipped
  +transform(rotateY(-180deg))

footer
  +text-shadow(0 0 1px #ccc)
  text-align: center
  font-size: $footer-font-size
  margin-top: $footer-top-margin

a
  +text-shadow(0 0 1px #888)
  color: $fontcolor
  &:hover
    +text-shadow(0 0 1px #333)
