@import compass

@font-face
  font-family: 'KozMinPro-EL'
  src: url('../font/KozMinPro-ExtraLight.otf') format('opentype')

body
  background-image: url('/img/background.png')

#card
  width: 933px
  height: 629px
  margin: 100px auto 0 auto
  +perspective(3000px)

#card img
  box-shadow: 0 0 50px #000
  +transform3d(rotateY(45deg))
